td,th {
  border: 1px solid #999;
  padding: 20px;
}
td {
  background: gray;
  color: white;
}
.primary {
  background-color: brown;
  position: sticky;
}
th {
  background: #ffc107;
  color: white;
  border-radius: 0;
  top: 0;
  padding: 10px;
}
a {
    color: blue; /* default color */
}

a:hover {
    color: green; /* color on hover */
}

a:active {
    color: red; /* color on click */
}

a:focus {
    color: orange; /* color after clicking */
}
